/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/



/* Body and structure
-------------------------------------------------- */

body {
    position: relative;
    padding-top: 40px;
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #ffffff;
}

/* Faded out hr */
hr.soften {
    height: 1px;
    /* margin: 70px 0; */
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
    border: 0;
}



h3 {
    font-size: 24px;
    font-weight:normal;
}

.jumbotron {
    text-align: center;
    color: #999;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 6px;
    margin-bottom: 16px;
    color: #333;
}

.navbar .brand {
    /*font-family: "Bohemian typewriter", "veteran typewriter", "Courier New", Courier, monospace;*/
    font-family: "Courier New", Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    color: #DCDCDC;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

/*
.typing {
    font-family: "Courier New", Courier, monospace;
}
.typing.heading {
    font-weight: bold;
}
*/



#alerts {
    position: relative;
    padding-top: 16px;
}
/*
#alerts {
    position: relative;
    padding-top: 16px;
    padding-bottom: 0px;
    color: #F7F7F7;
    background: #f5f5f5;
}
*/

/*
#subnav {
    position: relative;
    padding-top: 0px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    color: #333;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}
*/

.grey-button{
    opacity: 0.8;
}

.grey-button:hover{
    opacity: 0.75;
}

/*
.subnav span {
    font-size: 24px;
    position: relative;
    top:5px;
    padding-bottom:10px;
}
*/

/* Footer
-------------------------------------------------- */

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}




/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}

/* Desktop
------------------------- */
@media (max-width: 980px) {
    /* Unfloat brand */
    body > .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
       /* margin-top: -20px; */ /* Offset bottom margin on .navbar */
        margin-top: -20px;
        padding-top: -20px;
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        padding-top: 0px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top:   -20px;
        margin-right: -20px;
        margin-left:  -20px;
    }

    /* NOTE: this hack may lead to unexpected results. */
    .text-right {
        text-align: left;
    }

    /* Unfloat the back to top link in footer */
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer p {
        margin-bottom: 9px;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Remove padding above jumbotron */
    body {
        padding-top: 0;
    }

    /* Change up some type stuff */
    h2 small {
        display: block;
    }

    /* Downsize the jumbotrons */
    /*
    .jumbotron h1 {
        font-size: 45px;
    }
    .jumbotron p,
    .jumbotron .btn {
        font-size: 18px;
    }
    */
    /* expand button to fill small screen */
    .jumbotron .btn {
        display: block;
        margin: 0 auto;
    }

    .jumbotron form {
        text-align: center;
    }




    /* Do our best to make tables work in narrow viewports */
    table code {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }

    /* dropdowns - otherwise they are hidden*/
    /*
    .bs-docs-example-submenus > .pull-left {
        float: none;
        clear: both;
    }
    .bs-docs-example-submenus > .pull-left,
    .bs-docs-example-submenus > .pull-left + .pull-left {
        margin-left: 0;
    }
    .bs-docs-example-submenus p {
        margin-bottom: 0;
    }
    .bs-docs-example-submenus .dropup > .dropdown-menu,
    .bs-docs-example-submenus .dropdown > .dropdown-menu {
        margin-bottom: 10px;
        float: none;
        max-width: 180px;
    }
    */

    /* Examples: modal */
    .modal-example .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

    /* Tighten up footer */
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}