

<form class="modal-form" ng-submit="login()">
    <div class="modal-header">
        <h3>Login</h3>
    </div>

    <div class="modal-body">

        <p style="color:red">{{errorMessage}}</p>

        <label for="loginUsername">Username</label>
        <input ng-model="username" id="loginUsername" type="text" />

        <label for="loginPassword">Password</label>
        <input ng-model="password" id="loginPassword" type="password" />

    </div>
    <div class="modal-footer">
        <input type="submit" value="Login" class="btn btn-primary">
    </div>
</form>



