

<h2 ng-show="! isEditStory">
    <a href="" class="btn btn-primary" ng-click="deleteStory()"><i class="icon-remove icon-white"></i></a>
    <a href="" class="btn btn-primary" ng-click="isEditStory = true"><i class="icon-pencil icon-white"></i></a>
    {{story.title}}
    <small ng-show="story.description">
        {{story.description}}
    </small>
</h2>

<div ng-show="isEditStory">
    <h3>Story</h3>
    <form novalidate name="editStoryForm" class="story-form" ng-submit="saveStory()">
        <fieldset>

            <label class="control-label" for="inputStoryTitle">Title</label>
            <input type="text" ng-model="story.title" required unique-slug="otherSlugs" name="inputStoryTitle" id="inputStoryTitle" placeholder="Unique Title" class="input-error">
            <span class="text-error" ng-show="editStoryForm.inputStoryTitle.$error.required">Required</span>
            <span class="text-error" ng-show="editStoryForm.inputStoryTitle.$error.unique && editStoryForm.inputStoryTitle.$dirty">A similar title exists.</span>

            <label class="control-label" for="textareaStoryDescription">Description</label>
            <textarea id="textareaStoryDescription" name="textareaStoryDescription" ng-model="story.description" placeholder="Optional Description"></textarea>

            <br/>

            <button name="submitStory" id="submitStory" type="submit" ng-disabled="editStoryForm.$invalid || isUnchangedStory()" class="btn btn-primary">Edit</button>
            <button type="button" ng-click="resetStory()" ng-disabled="isUnchangedStory()" class="btn">Reset</button>
            <button type="button" ng-click="isEditStory=false;resetStory()" class="btn">Cancel</button>
        </fieldset>
    </form>
</div>


<h3>
    <!-- <a href="#/stories/{{story.id}}/passages" class="btn btn-primary"><i class="icon-plus icon-white"></i></a> -->
    Passages
</h3>

<div class="row">
    <div class="span4">
        <div ng-show="passages.length">
            <form class="form-horizontal">
                <input type="text" ng-model="searchText" placeholder="Search">
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
                    <th><a href="" ng-click="predicate = 'text'; reverse=!reverse">Text</a></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="passage in passages | orderBy:predicate:reverse | filter:searchText">
                    <td>{{passage.title}}</td>
                    <td>{{passage.text | cut:true:20}}</td>
                    <td><a href="#/stories/{{story.id}}/passages/{{passage.id}}" class="btn btn-primary"><i class="icon-pencil icon-white"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
